
body {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;

}


.carousel-col img {
    border-radius: 50%;
    padding:40px;
}

h1, h2, p, q {
    color: white
}